.phoneInterface {
  width: 330px;
  margin: auto;
  font-size: 25px;
}

.screen {
  position: relative;
  width: 330px;
  height: 180px;
  right: 2px;
  margin-left: 3px;
  margin-bottom: 4px;
  border-radius: 2px;
  background-color: white;
}

.callStatus {
  position: absolute;
  color: rgba(0, 0, 0, 0.76);
  top: 2px;
  right: 15px;
  font-size: 0.8rem;
}

.callDetails {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  position: absolute;
  font-size: 20px;
  background-color: white;
  max-width: fit-content;
  text-align: right;
  border: none;
  bottom: 5px;
  right: 15px;
  outline: none;
}

.hg-button-call {
  background-color: #4caf50 !important;
  font-size: 19px;
  border: none !important;
}

.hg-button-hangup {
  background-color: #f44336 !important;
  font-size: 19px;
  border: none !important;
}
