@import url(https://db.onlinewebfonts.com/c/b1410f9a0fedbd2de82f5b0fbe45dad5?family=Styrene+UI+Medium+Regular);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Styrene UI Medium Regular";
  margin: 0;
}

button:hover {
  cursor: pointer;
  text-shadow: 0 0 0.6px white;
}

.hg-theme-default {
  background-color: #0000aa;
}

.hg-button {
  padding: 0 !important;
}

label {
  color: #f4f4f4 !important;
}

.ant-table,
.ant-tag {
  font-size: 10px !important;
}

.anticon svg {
  color: white;
}

.ant-spin-dot-item {
  background-color: white !important;
}
